/* typography */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  background-color: white;
  margin: 0;
}

.section-header {
  text-align: center;
}

input:focus {
  background: #4d4d4d;
  color: white;
  transition: 300ms;
}

/* header */
header {
  height: 50px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #8a68ab;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 10px;
  padding: 10px 0;
}

.app-name {
  float: left;
}

.profile-container {
  margin: auto 10px;
}

.user-name, .avatar, .notification {
  float: right;
  margin: auto;
}

/* grid */
.grid {
  display: grid;
  margin: auto 0;
}

#visits, #settings, .message-user-container, .new-user-container {
  width: 90%;
  margin: 10px auto;
}

.new-user, .new-user-activity {
  margin: 10px auto;
}
.new-user > div, .new-user > img, .new-user-activity > div, .new-user-activity > img {
  margin: 10px auto;
  text-align: center;
}

.circle-img {
  border-radius: 50%;
}

.settings-button-container {
  display: flex;
  justify-content: space-between;
}

/* buttons and input fields */
.traffic-toggle-container {
  margin: 10px 0;
  padding: 10px 0;
}
.traffic-toggle-container .switch-ios.switch-toggle {
  background-color: white;
  box-shadow: inset rgba(0, 0, 0, 0) 0 1px 0;
}

.settings-container {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
}
.settings-container label {
  width: 35%;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2%;
  float: left;
}
.settings-container strong {
  width: 55%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}
.settings-container .switch-ios.switch-light input:checked ~ span {
  border-color: #8a68ab;
  box-shadow: inset 0 0 0 30px #8a68ab;
}
.settings-container .switch-ios.switch-light input:checked ~ span a {
  border-color: #8a68ab;
}

.search-container {
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #e3e3e3;
}

#main-search {
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid #5294ff;
  border-radius: 0.3em;
  font-size: 16px;
  background-color: white;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  padding: 3px;
  width: 30%;
  max-width: 300px;
  min-width: 120px;
  display: block;
  margin: 0 auto;
}

input[id=user-search],
select,
textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #707070;
  border-radius: 0.3em;
  font-size: 16px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
}

input[id=user-search]:focus,
select:focus,
textarea:focus {
  background: #4d4d4d;
  color: white;
  transition: 300ms;
}

.message-user-container > button, .settings-container > .settings-button-container > button {
  padding: 20px 0.3em 20px 0.3em;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.message-user-container > button, .settings-container > .settings-button-container > button:first-of-type {
  background-color: #8a68ab;
  border-color: #443575;
  color: white;
}

.settings-container > .settings-button-container > button:last-of-type {
  background-color: #e8eeef;
  color: #8a97a0;
}

.message-user-container > button {
  width: 100%;
}

.settings-container > .settings-button-container > button {
  width: 45%;
}

/* chart */
.traffic-chart-container {
  width: 90%;
}

#traffic-chart, #daily-chart, #mobile-chart {
  width: 100%;
  height: 400px;
  max-width: 400px;
}

/* image */
.user-img {
  width: 30px;
  height: 30px;
}

.sm-img .circle-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.svg-facebook, .svg-google, .svg-twitter {
  background-color: #8a68ab;
  border-radius: 50%;
  padding: 10px;
}

.social-stat-container {
  width: 90%;
  background-color: #e3e3e3;
  border-radius: 20px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  max-width: 320px;
}
.social-stat-container > .lg-img {
  width: 75px;
  height: 75px;
  margin: auto;
}
.social-stat-container > .social-stat-text-container {
  float: right;
  margin: auto;
}

/* navigation */
.main-nav {
  background-color: #443575;
  padding: 10px;
  margin: 0;
}

.nav-item {
  margin: 10px auto;
  float: left;
  padding: 0.5rem;
  max-width: 54px;
}
.nav-item img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard {
  margin: 10px auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
