

// Spacing
$gutter-space : 10px

// Media Screen Sizes
$tablet-screen : '(min-width:768px)'
$desktop-screen : '(min-width:1024px)'

//  Colors
$header-color : white
$main-nav-color : white
$header-bckgrnd-color : #8a68ab
$main-nav-bckgrnd-color: #443575
$search-container-color: #e0e0e0
$body-color : white