/* typography */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')


*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

html, body
  background-color: $body-color
  margin: 0

.section-header
  text-align: center

header
  height: 50px
  margin: 0 auto
  padding: 0
  width: 100%
  background-color: $header-bckgrnd-color
  color: $header-color


input:focus
  background: #4d4d4d
  color: white
  transition: 300ms
