@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

html, body
  background-color: $body-color
  margin: 0

.section-header
  text-align: center

header
  height: 50px
  margin: 0 auto
  padding: 0
  width: 100%
  background-color: $header-bckgrnd-color
  color: $header-color

#main-search
  display: block
  margin: 0 auto

input[id="text"]
  text-align: right
  font-style: italic
  padding-right: 10px
  background: rgba(255,255,255,0.1)
  border: 3px solid  #5294ff
  border-radius: .3em
  font-size: 16px
  color: #8a97a0
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset
  width: 30%
  max-width: 300px
  min-width: 120px

input:focus
  background: #4d4d4d
  color: white
  transition: 300ms
