/* chart */

canvas
  margin: 0 auto

.traffic-chart-container, .daily-chart-container, .mobile-chart-container
  width: 85vw
  
.daily-chart-container, .mobile-chart-container
  @include media-query($desktop)
   width: 35vw
