/* tablet */ 
    
    
@media screen and (min-width: 1024px)

    .grid-header-nav-main
        display: grid
        grid-template-rows: auto
        grid-template-columns: 55px 1fr
        grid-area: "nav",  "main"

    nav ul
        display: block
        justify-content: none

    

