/* grid */

.grid
  display: grid
  margin: auto 0

.grid-line
  border: 1px solid $grid-line-color

#visits, #settings, .message-user-container, .new-user-container
  width: 100%

.new-user, .new-user-activity
  margin: $gutter-space auto
  & > div, & > img
    margin: $gutter-space auto
    text-align: center

.circle-img
  border-radius: 50%

.alert-container, .message-confirm
  color: white
  background-color: $dark-purple
  padding: 5px
  border-radius: 5px
  width: 90%
  margin: $gutter-space auto


.settings-button-container, .alert-container
  display: flex
  justify-content: space-between

.message-input-container, .settings-select-container, .settings-button-container, .chart-container
  margin: 0 auto
  width: 90%

.chart-container
  margin-top: 5px
  margin-bottom: $gutter-space
