/* header */

header
  height: 10vw
  margin: 0 auto
  padding: 0
  width: 100%
  background-color: $light-purple
  color: $header-color

.header-container
  display: flex
  justify-content: space-between
  width: 100%
  margin: auto
  padding: $gutter-space 0

.app-name
  float: left

.profile-container
  margin: auto $gutter-space

.user-name, .avatar, .notification
  float: right
  margin: auto

.notification
  border-right: 1px solid $dark-purple