/* header */

.header-container
  display: flex
  justify-content: space-between
  width: 100%
  margin: auto $gutter-space
  padding: $gutter-space 0

.app-name
  float: left

.profile-container
  margin: auto $gutter-space

.user-name, .avatar, .notification
  float: right
  margin: auto