/* image */

// every other svg
.sm-img
  width: 30px
  height: 30px

// target the larger images (the social media svgs)

// the svg img tags
.svg-facebook, .svg-google, .svg-twitter
  background-color: #8a68ab
  border-radius: 50%
  padding: 10px

.social-stat-container
  width: 90%
  background-color: $light-gray
  border-radius: 20px
  margin: $gutter-space auto
  display: flex
  justify-content: space-evenly
  padding: 3px
  & > .lg-img
    width: 80px
    height: 80px
    margin: 35px
  & > .social-stat-text-container
    float: right
    margin: auto




