/* image.sass */

// every other svg
.sm-img
  width: 30px
  height: 30px

// target the larger images (the social media svgs)

// the svg img tags
.svg-facebook, .svg-google, .svg-twitter
  background-color: #8a68ab
  border-radius: 50%

.social-stat-container
  width: 90%
  height: 150px
  background-color: #e3e3e3
  border-radius: 20px
  margin: $gutter-space auto
  display: flex
  & > .lg-img
    width: 80px
    height: 80px
    margin: 35px $gutter-space
  & > .social-stat-text-container
    float: right
    margin: $gutter-space




