/* image */

// every other svg
.user-img
  width: 30px
  height: 30px

.sm-img
  width: 40px
  height: 40px

.circle-img
  border-radius: 50%

// the svg img tags
.svg-facebook, .svg-google, .svg-twitter
  background-color: #8a68ab
  border-radius: 50%
  padding: 10px

.social-stat-container
  width: 90%
  background-color: $light-gray
  border: 1px solid $grid-line-color
  border-radius: 5px
  margin: $gutter-space auto
  display: flex
  justify-content: space-evenly
  padding: 10px
  max-width: 320px

  & > .lg-img
    width: 75px
    height: 75px
    margin: auto

  & > .social-stat-text-container
    float: right
    margin: auto

    & > .social-stat-count
      font-size: $social-stat-count-text-size




