/* navigation */

.main-nav
  background-color: $main-nav-bckgrnd-color
  padding: $gutter-space
  margin: 0

.nav-item
  margin: $gutter-space auto
  float: left
  padding: 0.5rem
  max-width: 54px


  img
    width: 100%
    height: 100%
    padding-bottom: $gutter-space

ul
  display: flex
  justify-content: space-evenly
  list-style: none
  margin: 0
  padding: 0

.dashboard
  margin: $gutter-space auto
  text-align: center