/* navigation */

.main-nav
  background-color: $navigation-background-color
  padding: $gutter-space

.nav-item
  margin: $gutter-space auto
  float: left
  padding: 0.5rem
  width: 40px
  border: 2px
  & a
    display: block


  img
    width: 100%
    height: 100%
    padding-bottom: $gutter-space

.main-nav
  display: flex
  justify-content: space-evenly
  list-style: none
  margin: 0 auto
  padding: 0

.dashboard
  margin: $gutter-space auto
  text-align: center